/* =============
    Section 1
============= */
#section-1 {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  height: 600px;
  background-position: center;
  width: 100%;

  @include xl{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". section-1 .";
    height: 800px;
  }

  #section-1-content{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-1 .";
      
    >p{
      padding-top: 80px;
      grid-area: section-1;
      text-align: center;
      color: $light-blue;
      display: grid;

      @include md{
        text-align: center;
        display: grid;
        grid-template-columns: auto 165px auto;
        grid-template-areas: ". section-1 .";
        padding-left: 170px;
        padding-top: 87px;
      }

      @include lg{
        text-align: center;
        display: grid;
        grid-template-columns: auto 280px 0px;
        grid-template-areas: ". section-1 .";
        padding-top: 125px;
        padding-left: 280px;
      }

      @include xl{
        padding-top: 110px;
        text-align: center;
        display: grid;
        grid-template-columns: auto 250px auto;
        grid-template-areas: ". section-1 .";
            
      }

    }
    >h1{
      grid-area: section-1;
      color: $blue;
      text-align: center;
      padding-top: 40px;

      @include md{
        display: grid;
        grid-template-columns: auto 10px 0px;
        grid-template-areas: ". section-1 .";    
      }

      @include lg{
        text-align: center;
        display: grid;
        grid-template-columns: auto 10px 0px;
        grid-template-areas: ". section-1 .";
        padding-top: 40px;
        padding-left: 10px;
      }

      @include xl{
        padding-top: 25px;
        display: grid;
        grid-template-columns: auto 10px 0px;
        grid-template-areas: ". section-1 .";
      }

    }
      
  }

  aside{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-1 .";

    >h4{
      grid-area: section-1;
      padding-top: 190px;
      color: $white;
      background-color: none;
      padding-left: 124px;

      @include md{
        padding-left: 355px;
        padding-top: 183px;
      }

      @include lg{
        padding-left: 524px;
        padding-top: 148px;
      }

      @include xl{
        padding-left: 549px;
        padding-top: 290px;
      }

    }

    img{
      padding-left: 125px;
      padding-top: 180px;
      height: 80px;

      @include md{
        padding-left: 350px;
        padding-top: 165px;
        height: 105px;
      }

      @include lg{
        padding-left: 510px;
        padding-top: 120px;
        height: 150px;

      }

      @include xl{
        padding-left: 535px;
        padding-top: 265px;
        height: 155px;

      }
    }
  }
}


