/* =============
    Section 2
============= */
#section-2{
   display: grid;
   background-color: $eggshell;
  
   @include xl{
       display: grid;
       grid-template-columns: auto 1200px auto;
       grid-template-areas: ". section-2-container .";
   }

   #section-2-container{

        @include md{
            display: grid;
            grid-template-columns: 65% auto;
            grid-template-areas: "section-2-content section-2-image";
        }

        @include lg{
            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: "section-2-image section-2-content"; 
        }

        @include xl{
            grid-area: section-2-container;
        }

        section{
            margin: 60px 0;
            @include md{
                margin: 0;
            }

            #section-2-content{

                h1{
                    text-align: center;
                    @include xl{
                        display: grid;
                        padding-top: 140px;
    
                    }
                }

                p{
                    @include xl{
                        display: grid;
                        grid-template-columns: 85% auto;
                        padding-left: 275px;
                    }
                }

                padding: 0 15px;
                @include md{
                    grid-area: section-2-content;
                }
            }
        }
        aside{
            background-image: url("../img/legs.jpg");
            background-size: cover;
            height: 430px;
            width: 100%;
            @include md{
                grid-area: section-2-image;
                height: 260px;
                width: 300px;
            }

            @include lg{
                grid-area: section-2-image;
                height: 430px;
                width: 100%;
            }

            @include xl{
                grid-area: section-2-image;
                height: 600px;
                width: 600px;
            }
        }
   }
}
