/* =============
    section 3
============= */
#section-3{
    display: grid;
    background-color: $white;

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-3-container .";
    }

    #section-3-container{

        #section-3-title{
            h1{
                text-align: center;
                grid-template-areas: ". section .";
                @include xl{
                    padding-left: 130px;
                    padding-top: 40px;
                }
            }
        }

        section{
            display: grid;
            grid-template-areas: 
            "card1"
            "card2"
            "card3";
            grid-gap: 30px;
            margin: 10px;
            padding-bottom: 25px;

            img{
                height: 200px;

                @include lg{
                    height: 240px;

                }

                @include xl{
                    height: 240px;
                }
            }

            @include md{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 20px 40px;
                grid-template-areas: "card1 card1 card2 card2"
                ". card3 card3 .";
                margin: 45px;
            }

            @include lg{
                display: grid;
                grid-template-areas: "card1 card2 card3";
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                gap: 0px 0px;
                margin: px;
                padding-left: 0px;
            }

            @include xl{
                display: grid;
                grid-template-areas: "card1 card2 card3";
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                gap: 20px 30px;
                margin: 30px;
                padding-left: 100px;
            }

            #section-3-content-1{
                display: grid;
                background-color: $eggshell;
                grid-area: card1;
                background-image: url('../img/Londonersign.jpg');
                background-repeat: no-repeat;
                background-size: 300px;
                @include md{
                    background-size: 320px;
                }
                @include lg{
                    background-size: 400px;
                }

                h2{
                    display: grid;
                    grid-template-columns: 100% auto;
                    padding-left: 50px;
                    padding-top: 200px;
                    @include md{
                        padding-top: 210px;
                        text-align: center;
                        grid-template-columns: 80%;
                    }
                    @include lg{
                        grid-template-columns: 90% auto;
                        padding-left: 75px;
                    }
                }

                p{
                    display: grid;
                    grid-template-columns: 80% auto;
                    padding-left: 40px;
                    @include lg{
                        grid-template-columns: 100% auto;
                        padding-left: 22px;
                    }
                }

                h4{
                    padding-left: 40px;
                    @include lg{
                        padding-left: 15px;
                    }
                }
            }

            #section-3-content-2{
                display: grid;
                background-image: url('../img/Letterpress.jpg');
                background-repeat: no-repeat;
                background-size: 300px;
                background-color: $eggshell;
                grid-area: card2;

                @include md{
                    background-size: 320px;
                }
                h1{
                    display: grid;
                    grid-template-columns: 130% auto;
                    padding-left: 15px;
                    padding-top: 200px;
                    @include md{
                        padding-top: 210px;
                        text-align: center;
                        grid-template-columns: 100%;
                    }
                    @include lg{
                        grid-template-columns: 120% auto;
                        padding-left: 20px;
                    }
                }

                p{
                    display: grid;
                    grid-template-columns: 95% auto;
                    padding-left: 45px;
                    @include lg{
                        grid-template-columns: 98% auto;
                        padding-left: 15px;
                        
                    }
                }
                h4{
                    padding-left: 45px;
                    @include lg{
                        padding-left: 15px;
                    }
                }
            }

            #section-3-content-3{
                display: grid;
                background-color: $eggshell;
                grid-area: card3;
                background-image: url('../img/businesscard.jpg');
                background-repeat: no-repeat;
                background-size: 300px;
                @include md{
                    background-size: 320px;
                }

                h1{
                    display: grid;
                    grid-template-columns: 90% auto;
                    padding-left: 20px;
                    padding-top: 200px;
                    @include md{
                        padding-top: 210px;
                        padding-left: 0px;
                        grid-template-columns: 100%;
                    }
                    @include lg{
                        grid-template-columns: 90% auto;
                        padding-left: 75px;
                        font-size: 34px;
                    }
                }

                p{
                    display: grid;
                    grid-template-columns: 89% auto;
                    padding-left: 30px;
                    @include lg{
                        grid-template-columns: 100% auto;
                        padding-left: 25px;
                        font-size: 22px;   
                    }
                }

                h4{
                    padding-left: 30px;
                }
            }
        }
    }
}