/* =============
    Footer
============= */
footer{
    background-position: fixed;
    background-color: $black;
    padding: 30px;
    text-align: center;
    color: $red;
    position: relative;



    @include lg{
        display: grid;
        text-align: right;
        padding-bottom: 32px;
    }

    img{
        @include lg{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas: ". footer .";

        }
        
    }

    p{
        

        right: 20px;
        bottom: 8px;

    }



   
}